In [1]:
import pandas as pd
import pickle
import boto3

In [2]:
# load the model
s3 = boto3.resource('s3')
rf_model = pickle.loads(s3.Bucket("cloud-tech-final-project").Object("rf_model.pkl").get()['Body'].read())

In [3]:
#prediction
prediction_data = pd.read_csv("s3://cloud-tech-final-project/prediction_seagrass.csv")
prediction_data2 = prediction_data.drop(["OID", "X", "Y"], axis=1)

In [4]:
result = rf_model.predict(prediction_data2)

In [5]:
result.sum()

67

In [6]:
prediction_data["present"] = result

In [8]:
prediction_data.head()

,OID,dissO2,nitrate,phosphate,salinity,silicate,srtm30,temp,X,Y,present
0,1,6.651183,7.897197,0.886982,32.401119,6.059976,-68,5.912848,-66.375,43.875,0
1,2,6.556315,8.297497,0.902758,32.471413,6.403570,-69,5.747465,-66.375,43.625,0
2,3,7.151639,3.741307,0.624948,31.711849,3.344583,-13,6.105235,-66.125,43.625,0
3,4,6.727876,7.456292,0.869195,32.316944,5.722008,-60,5.604783,-66.375,43.375,0
4,5,6.570268,8.313941,0.905551,32.276649,6.419197,-56,5.009850,-66.125,43.375,0

In [9]:
from io import StringIO # python3; python2: BytesIO 
import boto3

bucket = 'cloud-tech-final-project' # already created on S3
csv_buffer = StringIO()
prediction_data.to_csv(csv_buffer)
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket, 'prediction_result.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'SG7CK869WQ18E703',
  'HostId': 'U10Ni2YJeYoEod8gggeCkjhV0nTMzt6SR9B+J/UP1+33bs9YUYNJZ7JZSL+iRNJSGCUY6JbMvN4=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'U10Ni2YJeYoEod8gggeCkjhV0nTMzt6SR9B+J/UP1+33bs9YUYNJZ7JZSL+iRNJSGCUY6JbMvN4=',
   'x-amz-request-id': 'SG7CK869WQ18E703',
   'date': 'Mon, 26 Apr 2021 02:34:17 GMT',
   'etag': '"49a30861fc7264fa1c4cf766f1c00a56"',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"49a30861fc7264fa1c4cf766f1c00a56"'}